<div class="container mt-4">
    <div class="d-flex gap-3 justify-content-start flex-wrap">
        <% jobs.forEach((job)=> { 
            const applybyDate = new Date(job.applyby);
            const jobPostedDate = new Date(job.jobposted);
            %>
        <div class="card shadow-sm card-custom">
            <div class="card-body">
                <h5 class="card-title text-white"><%= job.jobdesignation %></h5>
                <h6 class="card-subtitle mb-2 text-white"><%= job.jobcategory %></h6>

                <p class="card-text text-color">
                    <strong class="text-white">Company:</strong> <%= job.companyname %><br>
                    <strong class="text-white">Location:</strong><%= job.joblocation %><br>
                    <strong class="text-white">Salary:</strong> <%= job.salary %><br>
                    <strong class="text-white">Application Deadline:</strong> <%= applybyDate.toDateString() %><br>
                    <strong class="text-white">Job Posted:</strong> <%= jobPostedDate.toDateString() %><br>
                </p>

                <h6 class="text-white">Skills Required:</h6>
                <ul class="list-inline">
                    <% job.skillsrequired.forEach((skill)=> { %>
                    <li class="list-inline-item badge bg-primary"><%= skill %></li>
                    <% }) %>
                </ul>

                <div class="mt-3">
                    <span class="badge bg-success"><%= job.numberofopenings %> Openings</span>
                </div>

                <a href="/job/<%= job.id %>" class="btn btn-primary mt-3">View Job Details</a>
            </div>
        </div>
        <% }) %>
    </div>
</div>