<div class="container mt-4">
    <h1 class="mb-4">Job Details</h1>
    <div class="custom-card p-4">
        <div class="card-body">
            <h5 class="text-center pt-2 pb-3 fw-bold fs-3" style="color: #f8f8f8;"><i class="bi bi-briefcase"></i>
                <%= job.jobdesignation %> oppertunity in <%= job.joblocation %> at <%= job.companyname %>
            </h5>
            <p class="card-text" style="color: #f8f8f8;"><i class="bi bi-tags"></i> <strong>Category:</strong>
                <%= job.jobcategory %>
            </p>
            <p class="card-text" style="color: #f8f8f8;"><i class="bi bi-person"></i> <strong>Designation:</strong>
                <%= job.jobdesignation %>
            </p>
            <p class="card-text" style="color: #f8f8f8;"><i class="bi bi-geo-alt"></i> <strong>Location:</strong>
                <%= job.joblocation %>
            </p>
            <p class="card-text" style="color: #f8f8f8;"><i class="bi bi-building"></i> <strong>Company:</strong>
                <%= job.companyname %>
            </p>
            <p class="card-text" style="color: #f8f8f8;"><i class="bi bi-cash"></i> <strong>Salary:</strong>
                <%= job.salary %>
            </p>
            <p class="card-text" style="color: #f8f8f8;"><i class="bi bi-calendar"></i> <strong>Application
                    Deadline:</strong>
                <%= new Date(job.applyby).toDateString() %>
            </p>
            <p class="card-text" style="color: #f8f8f8;"><i class="bi bi-tools"></i> <strong>Required
                    Skills:</strong>
                    <% if(Array.isArray(job.skillsrequired)){ %>
                <%= job.skillsrequired.join(', ') %></p>
                <% }else{ %>
                    <%= job.skillsrequired %></p>
                    <% } %>
                <p class="card-text" style="color: #f8f8f8;"><i class="bi bi-people"></i> <strong>Number of Openings:</strong> 
                    <%= job.numberofopenings %></p>
                <p class="card-text" style="color: #f8f8f8;"><i class="bi bi-person-lines-fill"></i> <strong>Number of Applicants:</strong>
                    <a class="text-decoration-none bg-white" href="/jobs/<%= job.id %>/applicants"><%= job.applicants.length %></a>
                </p>
                <p class="card-text" style="color: #f8f8f8;"><i class="bi bi-calendar-day"></i> <strong>Job Posted Date:</strong> 
                    <%= job.jobposted.toDateString() %></p>
                
                <div class="d-flex justify-content-start gap-3 mt-4">
                    <% if (name){ %>
                    <a onclick="confirmDelete('<%= job.id %>')" class="px-4 py-2 btn-custom btn-custom-danger"><i class="bi bi-trash"></i> Delete</a>
                    <a href="/jobs/update/<%= job.id %>" class="px-4 py-2 btn-custom btn-custom-warning"><i class="bi bi-pencil"></i> Edit</a>
                    <% }%>
                    <a href="#" data-bs-target="#applicationModal" data-bs-toggle="modal" class="px-4 py-2 btn-custom btn-custom-success"><i class="bi bi-send"></i> Apply</a>
                </div>
            </div>
        </div>
        
        <div class="mt-4">
            <a href="/jobs" class="btn btn-primary">Back to Job Listings</a>
        </div>
    </div>